* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-size: 40px;
  font-family: "Bubblegum Sans", cursive;
}

body.light {
  background-color: #fff;
  color: mediumblue;
}

body.dark {
  background-color: #19202c;
  color: lime;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

a {
  text-decoration: none;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 15px;
  background-color: darkturquoise;
}
