*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-size: 40px;
  font-family: "Bubblegum Sans", cursive;
  color: mediumblue;
}

body.light {
  background-color: #fff;
  color: mediumblue;
}

body.dark {
  background-color: #19202c;
  color: lime;
}

h1 {
  margin: 5px 50px;
}

.header,
.footer {
  background-color: cyan;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 10px midnightblue, 10px 30px 45px midnightblue inset;
  text-shadow: 0 0 2px white, -1px -1px 0 white, -3px -3px 1px white,
    -2px -2px 2px magenta;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: gold;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 15px;
  background-color: darkturquoise;
  box-shadow: 5px 5px 10px midnightblue, 10px 30px 45px midnightblue inset;
  color: gold;
  cursor: pointer;
}

button:hover {
  border: 7px solid midnightblue;
  box-shadow: 5px 5px 10px midnightblue, 10px 30px 45px midnightblue inset;
  transition: 0.5s;
  transform: translateY(-5px);
}

button:active {
  box-shadow: 5px 5px 10px cyan, 10px 30px 45px cyan inset;
  transition: 0.2s;
}

#to-do-list,
#ideas,
#weekly-task-tracker,
#wish-list,
#about-project {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#input-task,
#input-idea,
#input-wish,
#input-tracker {
  height: 50px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px midnightblue, 10px 30px 45px mediumturquoise inset;
  color: mediumblue;
  padding: 10px 30px;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 50px 10px;
}

li {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  height: 25px;
  width: 25px;
  margin: 0 20px;
  cursor: pointer;
}

#to-do-list input[type="checkbox"]:checked {
  box-shadow: 1px 5px 5px magenta, 1px -5px 5px cyan, 6px 0 7px cyan,
    -5px 1px 7px magenta;
}

#task-list input:checked ~ .span-task {
  transition: 1.1s;
  text-shadow: 5px 5px 10px magenta, 0 0 15px lightpink, 5px -5px 10px cyan;
}

#tracker-list input[type="checkbox"] {
  -webkit-appearance: none;
  border-radius: 50%;
  font-size: 30px;
  text-shadow: 2px 1px lightskyblue;
}

#tracker-list input[type="checkbox"]:before {
  content: "★";
}

#tracker-list input[type="checkbox"]:checked {
  color: gold;
  text-shadow: 3px 2px red;
}

#wish-list input[type="checkbox"] {
  -webkit-appearance: none;
  border-radius: 50%;
}

#wish-list input[type="checkbox"]:checked {
  text-shadow: 5px 5px 10px gold, -5px 10px 15px mediumblue,
    10px 10px 5px crimson;
  background-color: midnightblue;
  box-shadow: 5px 5px 10px gold, -5px 10px 15px mediumblue,
    10px 10px 5px crimson, -5px -10px 15px cyan, 15px -10px 15px magenta;
}

#wish-list input[type="checkbox"]:before {
  content: "✨";
  font-size: 30px;
  transition: 3.1s;
}

#wish-list input:checked ~ .span-wish {
  transition: 1.1s;
  text-shadow: 5px 5px 10px cyan, 0 0 15px lime;
}

#ideas-list input[type="checkbox"] {
  -webkit-appearance: none;
  border-radius: 50%;
}

#ideas-list input[type="checkbox"]:checked {
  text-shadow: 5px 5px 10px gold, 10px 10px 5px crimson;
  background-color: gold;
  box-shadow: 5px 5px 10px gold, -5px 10px 15px yellow, 10px -5px 10px gold,
    -10px -5px 10px gold, 10px -5px 10px gold, 0 -5px 10px gold;
}

#ideas-list input[type="checkbox"]:before {
  content: "💡";
  font-size: 30px;
  transition: 3.1s;
}

#ideas-list input:checked ~ .span-idea {
  transition: 1.1s;
  text-shadow: 5px 5px 10px gold, 0 0 15px yellow;
}

.checkbox-day {
  display: flex;
  flex-direction: column-reverse;
  font-size: 10px;
  align-items: center;
  margin: 10px 15px;
}

span {
  margin: 15px 20px;
}

#dream-board {
  background: linear-gradient(45deg, rgb(17, 133, 211), rgb(28, 224, 224));
  width: 200vh;
  height: 300vh;
  margin: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 35px midnightblue, 0 0 35px midnightblue,
    5px 5px 10px mediumblue, 10px 30px 45px white inset;
  border-radius: 5%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px;
  width: 100%;
  height: 100%;
}

.card {
  background: linear-gradient(
    180deg,
    rgba(17, 133, 211, 0.657),
    rgba(28, 224, 224, 0.664)
  );
  border-radius: 15%;
  border: 1px solid rgb(39, 185, 185);
  box-shadow: 2px 2px rgb(19, 161, 226), 5px 5px 10px mediumblue,
    10px 30px 45px white inset;
  width: 50vh;
  height: 50vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: 5px 5px 35px magenta inset, 0 0 35px magenta inset;
}

textarea {
  background-color: mediumturquoise;
  border-radius: 15%;
  border: 1px solid rgb(39, 185, 185);
  box-shadow: 5px 5px 10px mediumblue, 10px 30px 45px white inset;
  width: 35vh;
  height: 35vh;
  padding: 15px;
}

.music {
  background: cyan;
  width: 55vh;
  height: 35vh;
  margin: 30px 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px magenta, 10px 30px 45px white inset;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
